html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Parisienne', cursive;
}

body {
  background-color: #F5DEB3;
}

.script {
  font-family: 'Parisienne', cursive;
  color: #fff;
}

.sans-serif-1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFA07A;
}

.sans-serif-2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #48D1CC;
}
