html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: Parisienne, cursive;
}

body {
  background-color: #f5deb3;
}

.script {
  font-family: Parisienne, cursive;
  color: #fff;
}

.sans-serif-1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffa07a;
}

.sans-serif-2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #48d1cc;
}
